<div class="container section-content center-align">
    <img mat-card-image [src]="profileData.profilePic" alt="Ranga Gamage" class="profile-img z-depth-2">
    <h4>Hi, I'm <strong>Ranga Gamage</strong></h4>
    <h6 class="grey-text text-darken-2">Senior Software Engineer</h6>

    <p class="flow-text">
      I’m a senior software engineer with over 15 years of experience in developing and maintaining software applications. I specialize in Microsoft technologies including C#, ASP.NET, and SQL Server.
    </p>

    <div class="contact-info">
      <a *ngIf="profileData.contact.email" mat-icon-button href="mailto:{{ profileData.contact.email }}">
        <mat-icon>email</mat-icon>
      </a>
      <a *ngIf="profileData.contact.linkedin" mat-icon-button [href]="profileData.contact.linkedin" target="_blank">
        <mat-icon svgIcon="linkedin"></mat-icon>
      </a>
      <a *ngIf="profileData.contact.github" mat-icon-button [href]="profileData.contact.github" target="_blank">
        <mat-icon svgIcon="github"></mat-icon>
      </a>
      <a *ngIf="profileData.contact.twitter" mat-icon-button [href]="profileData.contact.twitter" target="_blank">
        <mat-icon svgIcon="twitter"></mat-icon>
      </a>
    </div>
</div>
